* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body {
	background-color: #f2e9e4;
}*/

/*.bg-image {
	background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 50vh;
}
*/

@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Tahoma", sans-serif;
  padding-top: 10px;
}

.fas {
  font-size: 30px;
}

.full-screen {
  padding: 1rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.navbar-brand
{
  color:white;
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
}

.navbar-nav {
	font-family: "Tahoma", sans-serif;
	font-weight: bold;
}

/*a:hover {
  color: #3fa5ae !important;
}*/

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #5bc0be !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

.p-one {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.2em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

/*BUTTON LP*/
.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 20px;
  padding: 13px 20px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #5bc0be;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #5bc0be;
  color: #ffffff !important;
}
/*END OF BUTTON LP*/

/*CSS ANIMATION LP*/
.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #5bc0be;
}

.animated-item {
  font-size: 30px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*END OF CSS ANIMATION LP*/

/*NAVBAR HOVER*/
.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 10px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #5bc0be;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}
/*END OF NAVBAR HOVER*/

/*ABOUT TITLE*/
.section-title {
    margin-bottom: 60px;
}

.h33 {
    text-transform: uppercase;
    position: relative;
    font-size: 30px;
    line-height: 1;
    color: #dae0e6;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*.section-title h3:before,
.section-title h3:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 5px;
    background-color: #000;
}

.section-title h3:before {
    left: auto;
    right: 50%;
    background-color: #474559
}*/

#about-me {
  background-color: #474559 ;

}

.p-two {
  color:#dae0e6 ;
  font-size: 12px;
  text-align: justify;

}

.project-card {
  background-color: #eee;
  text-align: center;
  margin-right: px;
  width: 13rem;
  border-color:#5bc0be ;
  border-width: 3px;
}

/*CONTACT*/
.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #5bc0be;
}
.contact-form .submit-btn {
  background: #5bc0be;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #eee;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: black;

}

/*FOOTER*/
#footer {
  font-size: 11px;
  font-weight: normal;
}

#p_footer {
  font-size: 11px;
}




/*END OF ABOUT TITLE*/


/*ABOUT ME*/
/*.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}*/
/*END OF ABOUT ME*/